[Desktop Entry]
Type=Application
Name=PCAP Viewer
Name[sv]=PCAP-visare
Comment=Analyze network packet captures
GenericName=Network Packet Analyzer
Exec=pcap-viewer %f
Icon=se.danielnylander.pcap-viewer
Terminal=false
MimeType=application/vnd.tcpdump.pcap;application/x-pcapng;
Categories=Network;Development;
Keywords=pcap;network;packet;capture;sniffer;
