[Desktop Entry]
Version=1.1
Type=Application
Name=PacketLens
Name[sv]=PacketLens
Comment=Network packet capture viewer
Comment[sv]=Visning av nätverkspaketfångst
Exec=packetlens
Icon=packetlens
Categories=Network;GTK;
Terminal=false
StartupNotify=true
StartupWMClass=se.danielnylander.packetlens
