[Desktop Entry]
Type=Application
StartupWMClass=se.danielnylander.packetlens
Name=PacketLens
Name[sv]=PacketLens
Comment=Analyze network packet captures
Comment[sv]=Analysera inspelad nätverkstrafik
GenericName=Network Packet Analyzer
GenericName[sv]=Analysera nätverkspaket
Exec=packetlens %f
Icon=se.danielnylander.packetlens
Terminal=false
MimeType=application/vnd.tcpdump.pcap;application/x-pcapng;
Categories=Network;Development;
Keywords=pcap;network;packet;capture;sniffer;packetlens;
