[Desktop Entry]
Type=Application
Name=PacketLens
Comment=Analyze network packet captures
GenericName=Network Packet Analyzer
Exec=packetlens %f
Icon=se.danielnylander.packetlens
Terminal=false
MimeType=application/vnd.tcpdump.pcap;application/x-pcapng;
Categories=Network;Development;
Keywords=pcap;network;packet;capture;sniffer;packetlens;